<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tea &amp; Coffee Online</title>
    {{!-- all meta tags and common link tags --}}
    {{>headMetaTags}}
</head>

<body>
    {{!-- header --}}
    {{>header}}

    {{!-- div between header and footer--}}

    {{!-- all your content goes here --}}
    <br>
    <div class="text-center">
        <h4 style="color:green;">Thank you for placing order with us !! </h4>
        <br>
        <h4>Order Summary </h4>
        <br>
        <div class=" border border-success rounded-3" style=" width: 900px; margin-left: 200px; float:left;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Unit Price</th>
                        <th> </th>
                        <th>Quantity</th>
                        <th>Total amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cartData}}
                    <tr>
                        <td>
                            <a class="text-body" style="text-align: left;">
                                {{product_name}}
                            </a>
                        </td>
                        <td>${{unit_price}}</td>
                        <td> X </td>
                        <td>
                            <input type="number" style="width: 70px;" min="1" name="qnt[]" value={{count}} />
                        </td>
                        <td>${{total}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <p style="margin-left: 650px;">
                Subtotal: &emsp; ${{subtotal}}</p>
        </div>

    </div>

    <br> <br>
    {{!-- footer --}}
    {{>footer}}

    {{!-- scripts --}}
    {{>footerScripts}}
</body>

</html>