<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Tea &amp; Coffee Online</title>
		{{!-- all meta tags and common link tags --}}
		{{>headMetaTags}}
	</head>
	<body>
		{{!-- header --}}
		{{>header}}

		{{!-- div between header and footer--}}
		<div id="mid-wrap">
			{{!-- all your content goes here --}}
            <div class="container-lg my-5">
                <div class="row">
                    <div class="col-6 border border-success rounded-3 ">
                        <div class="row">
                            <img src="/images/contact-us-pic.jpg" alt="contact pic" />
                        </div>
                        <div class="row">
                            <div>
                                <br />
                                <br />
                                <h4>Contact Us</h4>
                                <br />
                                <p>Mail Address: 1 Yonge street, Toronto, Canada</p>
                                <br />
                                <p>Phone: 416-555-5555</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 border border-success rounded-3">
                        <div class="container-lg my-5">
                            <div class="text-center">
                                <h2> Contact Form</h2>

                                {{#if errorMsg}}
                                <h5>{{errorMsg}}</h5>
                                {{else}}
                                <h5>{{successMsg}}</h5>
                                {{/if}}
                                
                            </div>
                            <div class="row justify-content-center my-5">
                                <form method="post" action="/contact">

                                    <label for="name" class="form-label">Name</label>
                                    {{#if user}}
                                    <input type="text" class="form-control" name="name" id="name" value="{{user.firstName}} {{user.lastName}}" />
                                    {{else}}
                                    <input type="text" class="form-control" name="name" id="name" placeholder="YourName"  />
                                    {{/if}}

                                    <label for="email" class="form-label">Email</label>
                                    {{#if user}}
                                    <input type="email" class="form-control" name="email" id="email" value="{{user.email}}" />
                                    {{else}}
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email Address" />
                                    {{/if}}
                                    
                                    <div class="form-floating mb-4 mt-5">
                                        <input type="textarea" class="form-control" name="message" style="height: 140px;"> </textarea>
                                        <label for="message">Type Your Message Here:</label>
                                    </div>
                                    <div class="mb-4 text-center">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		{{!-- footer --}}
		{{>footer}}

		{{!-- scripts --}}
		{{>footerScripts}}
	</body>
</html>


