<html lang="en">

<head>
  {{>headMetaTags}}
  <link rel="stylesheet" href="./css/authenticatedUser.css" />

  <title>Product Retirement</title>
</head>

<body>
  {{>admin-header fName=user.firstName}}
  <br />
  <div class="container ">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <form class="format-form">
          <fieldset>
            <legend>Product Retirement</legend>
            <div class="form-group">

              <div class="mb-3 row">
                <label for="product-id" class="col-sm-3 col-form-label">Product Id</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" placeholder="{{data.product.product_id}}" id="product-id"
                    aria-label="product-id" aria-describedby="basic-addon1" name="product-id" value="{{data.product.product_id}}" readonly />
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <label for="product-name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="product-name" placeholder="{{data.product.product_name}}"
                    name="product-name" readonly value="{{data.product.product_name}}" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <label for="description" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                  <textarea class="form-control" id="description" rows="3" placeholder="{{data.product.description}}"
                    name="description"
                    readonly>{{data.product.description}}</textarea>
                </div>
              </div>

            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <label for="unit_price" class="col-sm-3 col-form-label">Unit Price</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="unit_price" placeholder="{{data.product.unit_price}}" name="unit_price"
                    readonly value="{{data.product.unit_price}}" />
                </div>
              </div>
             
            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
                <div class="col-sm-9">
                  <input type="number" min="0" class="form-control" id="quantity" name="quantity"
                    placeholder="{{data.product.quantity_in_stock}}" readonly value="{{data.product.quantity_in_stock}}" />
                </div>
              </div>

            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <label for="category" class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="category" placeholder="{{data.category.category_type}}" name="category"
                    readonly value="{{data.category.category_type}}" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <label for="discount" class="col-sm-3 col-form-label">Discount</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="discount" name="discount"
                    placeholder="{{data.product.discount_percentage}}" value="{{data.product.discount_percentage}}" readonly />
                </div>
              </div>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" {{#if data.product.bestseller}} checked {{/if}} id="bestseller" disabled />
              <label class="form-check-label" for="bestseller">
                Bestseller
              </label>
            </div>

            <br />
            <div class="form-group">
              <div class="mb-3 row">
                <label for="image" class="col-sm-3 col-form-label">Image</label>
                <div class="col-sm-9">
                  <img src="{{data.product.image}}" alt="product image" width="150px" height="130px" />
                </div>

              </div>
            </div>

            <br />
            <div class="form-group btn-form">
              <button type="button" class="btn btn-danger in-forms" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                DELETE
              </button>

            </div>
            <br />
          </fieldset>
        </form>
        <br />
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to delete this product id 1?
        </div>
        <div class="modal-footer">
          <form method="post" action="/delete">
          <input type="hidden" id="prod_id" name="prod_id" value="{{data.product.product_id}}">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
          <button type="submit" class="btn btn-primary">YES</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{!-- footer --}}
  {{>footer}}

  {{!-- scripts --}}
  {{>footerScripts}}
</body>

</html>