<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Product Title</title>
		{{!-- all meta tags and common link tags --}}
		{{>headMetaTags}}
	</head>
	<body>
		{{!-- header --}}
		{{>header}}

		{{!-- div between header and footer--}}
		<div id="mid-wrap" class="product-detail">
			{{!-- all your content goes here --}}
			<div class="container">
                {{#if product}}
                <div class="row product-wrap product-{{product.product_id}}">
                    <div class="col-md-5 text-center">
                        <img src="/{{product.image}}" alt="product" class="img-fluid" onerror="this.src='/images/product_placeholder.png'"/>
                    </div>

                    <div class="col-md-7 mt-2">
                        <div class="product-content">
                            <h2 class="display-5 mb-3">{{product.product_name}}</h2>
                            <h6 class="card-text prod-desc mb-3">{{product.description}}</h6>
                            <p class="card-text prod-price">Price: <strong>${{product.unit_price}}</strong></p>
                            <p class="card-text prod-size">Size: <strong>{{product.quantity_in_stock}} lbs</strong></p>
                            <div class="row">
                                <div class="col-6">
                                    <label class="" for="qty">Quantity</label>
                                    <input type="number" min="1" max="10" class="form-control mb-2 mr-sm-2" id="qty" placeholder="1">
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary mt-4 mb-2 w-100">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <h2 class="display-5 mb-3 text-center">Product is unavialable</h2>
                {{/if}}
            </div>

            {{>relatedProducts}}
		</div>

		{{!-- footer --}}
		{{>footer}}

		{{!-- scripts --}}
		{{>footerScripts}}
	</body>
</html>