<html lang="en">

<head>
  {{>headMetaTags}}
  <link rel="stylesheet" href="./css/authenticatedUser.css" />
  <title>Product in Database</title>
</head>

<body>
  {{>admin-header}}
  <br />
  <div class="container">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Product#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Category</th>
          <th scope="col">Bestseller</th>
          <th scope="col">Discount</th>
          <th scope="col">Image</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
         {{#each data}}
        <tr>
          <td scope="row">{{product_id}}</td>
          <td style="width: 150px;"> {{product_name}}</td>
          <td style="width: 350px;">{{description}}</td>
          <td>{{unit_price}}</td>
          <td>{{quantity_in_stock}}</td>
          <td>{{category}}</td>
          <td>{{bestseller}}</td>
          <td>{{discount_percentage}}</td>
          <td><img src={{image}} width="100px" height="80px" </td>
          <td>
            <a href="/updateProduct">
              <button type="button" class="btn btn-warning">Update</button></a>
          </td>
          <td>
            <a href="/deleteProduct">
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
              </button></a>
          </td>
        </tr>
         {{/each}}

      </tbody>
    </table>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to delete this product id 1?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
          <button type="button" class="btn btn-primary">YES</button>
        </div>
      </div>
    </div>
  </div>

  {{!-- footer --}}
  {{>footer}}

  {{!-- scripts --}}
  {{>footerScripts}}
</body>

</html>